body{
    font-family: Arial, sans-serif;
    text-align: center;
}
.conatiner{
    margin-top: 50px;
}
.choices{
    margin-top: 20px;
}
button{
    padding: 10px 20px;
    margin: 0px;
    font-size: 16px;
    cursor: pointer;
}
#result{
    margin-top: 20px;
    font-size: 20px;
}